{% extends 'base.html' %} {% block content%}

<h1>Post</h1>
<br /><br />
<div class="row px-2">
  <div class="col">
    <div class="card" style="width: 38rem">
      {%if post.image%}
      <img src="{{post.image.url}}" class="card-img-top" alt="..." />
      {%endif%}
      <div class="card-body">
        <h4 class="card-title">{{post.title}}</h4>
        <small class="card-text">{{post.post_date}}</small>
        <h5 class="card-text">{{post.body}}</h5>
        <br /><br />
        <a href="{% url 'Update' post.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'Delete' post.pk %}" class="btn btn-primary">Delete</a>
        <a href="{% url 'Home' %}" class="btn btn-primary">Back</a>
        <br /><br />
      </div>
    </div>
  </div>
</div>
{% endblock %}
